<% layout('layout') -%>
<div class="container">
  <br>
  <div class="jumbotron">
    <h1 class="display-4">Start Chatting</h1>
    <br>
    <input id="txtName" class="form-control" placeholder="Name" type="text">
    <br>
    <textarea id="txtMessage" class="form-control" placeholder="Message"></textarea>
    <br>
    <button id="send" class="btn btn-success">Send</button>
  </div>
  <div id="messages"></div>
</div>