<div class="logo-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Nav brand -->
                <a href="/" class="nav-brand"><img src="/images/logo.png" alt="" class="title-logo"></a>
            </div>
        </div>
    </div>
</div>

<div class='navbar row'>
    <div class='col col-xs-3 text-center'>
        <a class="nav-link" href="/users/signup"><label class='nav-label'>Sign Up</label></a>
    </div>
    <div class='col col-xs-3 text-center'>
        <a class="nav-link hidden" href="/users/logout"><label class='nav-label'>Logout</label></a>
        <a class="nav-link" href="/users/signin"><label class='nav-label'>Sign In</label></a>
    </div>
    <div class='col col-xs-3 text-center'>
        <a class="nav-link" href="/"><label class='nav-label'>About Us</label></a>
    </div>
    <div class='col col-xs-3 text-center'>
        <a class="nav-link" href="/"><label class='nav-label'>Contact Us</label></a>
    </div>
</div>