<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Tell-A-Tale</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="probootstrap-navbar">
      <ul class="navbar-nav ml-auto">
        <% if(username){%>
          <div class="dropdown">
            <button class="drop-button">
              <i class="fa fa-user"></i>
            </button>
            <div class="dropdown-content">
              <a href="/users/friends">Friends</a>
              <a class="user-profile-link">Profile</a>
              <a href="/users/friends">Finder</a>
              <a class="user-logout-link">Log Out</a>
            </div>
          </div>
        <% } %>
        <li class="nav-item"><a class="nav-link" href="/#section-home">Home</a></li>
        
          <li class="nav-item"><a class="nav-link" href="/#section-signin">SignIn</a></li>
          <li class="nav-item"><a class="nav-link" href="/#section-signup">SignUp</a></li>
        
        <li class="nav-item"><a class="nav-link" href="/#section-about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/#section-contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
