<% layout('layout') -%>
<section class="pb_cover_v1 text-left cover-bg-black cover-bg-opacity-4" style="background-image: url(/images/1900x1200_img_7.jpg)" id="section-home">
  <div class="container">
    <div class="row align-items-center justify-content-end">
      <div class="col-md-6 order-md-1">
        <h2 class="heading mb-3"><p>Tell-A-Tale</p></h2>
        <div class="sub-heading"><label class="mb-5">Everyone has a story to tell.</label>
        </div>
      </div>  
    </div>
  </div>
</section>

<section class="pb_section pb_section_v1 bg-light" data-section="signin" id="section-signin">
  <div class="container">
    <div class='row'><div class='col col-lg-7'><h2>Sign In</h2></div></div>
    
    <div class="row">
      <div class='col col-lg-7'>
        <div name='signin-form'>
          <div class='form-group'>
            <label for='username'>Username:</label>
            <input class='form-control' name='username' type='text' placeholder='Username'/>
          </div>
          <div class='form-group'>
            <label for='password'>Password:</label>
            <input class='form-control' name='password' type='password' placeholder='Password'/>
          </div>
          <div class='form-group'>
            <button class='btn btn-primary signin-submit' value='Sign In'>SIGN IN</button>
          </div>
        </div> 
      </div>
      <div class="col col-lg-4">
      </div>
    </div> 
  </div>  
</section>

<section class="pb_section pb_section_v1 text-left cover-bg-opacity-4" style="background-image: url(/images/1900x1200_img_7.jpg)" data-section="signup" id="section-signup">
  <div class="container">
    <div class='row'><div class='col col-lg-7'><h2 class='font-white'>Sign Up</h2></div></div>
    <form method='post' action='/users/signup' enctype="multipart/form-data">
      <div class='form-group'>
        <% for (var i=0; i < errors.length; i++){ %>
          <div class='alert alert-danger'><%= errors[i].msg %></div>
        <% } %>
        <div class=row>
          <div class='col-lg-6'>
            <label for='name' class='font-white'>Name:</label>
            <input class='form-control' name='name' type='text' placeholder='Name'/>
          </div>
          <div class='col-lg-6'>
            <label for='email' class='font-white'>Email:</label>
            <input class='form-control' name='email' type='email' placeholder='Email'/>
          </div>
        </div>  
      </div>

      <div class='form-group'>
        <div class=row>
          <div class='col-lg-6'>
            <label for='username' class='font-white'>Username:</label>
            <input class='form-control' name='username' type='text' placeholder='Username'/>
          </div>
          <div class='col-lg-6'>
            <label for='password' class='font-white'>Password:</label>
            <input class='form-control' name='password' type='password' placeholder='Password'/>
          </div>
        </div>
      </div>
      <div class='form-group'>
        <div class=row>
          <div class='col-lg-6'>
            <label for='confirm_password' class='font-white'>Confirm Password:</label>
            <input class='form-control' name='confirm_password' type='password' placeholder=' Confirm Password'/>
          </div>
          <div class='col-lg-6'>
            <label class='font-white'>Profile Image</label>
            <input class='form-control' type='file' name='profile_image'/>
          </div>
        </div>  
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit' name='submit' value='Register'>REGISTER</button>
      </div>
    </form>
  </div>
</section>

<section class="pb_section pb_section_v1" data-section="about" id="section-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 pr-md-7 pr-sm-0">
        <h2 class="mt-0 heading-border-top mb-3 font-weight-normal">About Us</h2>
        <p>Everyone has a story to share. Happiness is best felt when apportioned and sorrows are halved when discussed.</p>
        <p>Tell your tales to people at Tell-A-Tale. Stay connected! </p>
      </div>
      <div class="col-lg-5">
        <div class="images">
          <img class="img1 img-fluid" src="/images/story2.jpg" alt="free Template by ProBootstrap.com">
        </div>
      </div>
    </div>
  </div>  
</section>

<section class="pb_section" data-section="contact" id="section-contact">
  <div class="container">
    <div class="row justify-content-md-center text-center mb-5">
      <div class="col-lg-7">
        <h2 class="mt-0 heading-border-top font-weight-normal">Get In Touch</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8 pr-md-5 pr-sm-0 mb-4">
        <form action="#">
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control p-3 rounded-0" id="name">
              </div>
            </div>
            <div class="col-md">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control p-3 rounded-0" id="email">
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="message">Message</label>
            <textarea cols="30" rows="10" class="form-control p-3 rounded-0" id="message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn pb_outline-dark pb_font-13 pb_letter-spacing-2 p-3 rounded-0" value="Send Message">
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <ul class="pb_contact_details_v1">
          <li>
            <span class="text-uppercase">Email</span>
            prakreetip@mindfirsolutions.com
          </li>
          <li>
            <span class="text-uppercase">Phone</span>
            +91 919 1119 9921
          </li>
          <li>
            <span class="text-uppercase">Fax</span>
            +91 919 1119 9921
          </li>
          <li>
            <span class="text-uppercase">Address</span>
            Mindfire, <br>
            Bhubaneswar,  <br>
            India
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>