<!DOCTYPE html>
<html lang="en">
  <head>
    <% include /head.ejs%>
  </head>

  <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    <% include /header.ejs%>
      <div class="starter-template">
        <%- body %>
      </div>
    <% include /footer.ejs%>
  </body>
</html>