<% layout('layout') -%>

<h1 class='page-header'>Login</h1>
<p>Login below</p>
<form method='post' action='/users/signin' class='col-md-6>
    <div class='form-group'>
        <label for='username'>Username:</label>
        <input class='form-control' name='username' type='text' placeholder='Username'/>
    </div>
    <div class='form-group'>
        <label for='password'>Password:</label>
        <input class='form-control' name='password' type='password' placeholder='Password'/>
    </div>
    <div class='form-group'>
        <button class='btn btn-primary' type='submit' name='submit' value='Sign In'>SIGN IN</button>
    </div>
</form>


