/* chat backgrounds */
.background-grey{
  background-color: #495057;
  color: white;
}
  
.background-light-grey{
  background-color: #ddd;
}

.each-friend{
  padding: 1%;
  min-height: 80px;
  max-height: 80px;
}

.friends-detail{
  padding: 0.5%;
}

.friends-chat{
  padding: 1%;
  min-height: 80px;
  max-height: 80px;
}
